@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.input {
  @apply w-full px-4 py-2 rounded-lg
  bg-slate-700 text-white
  border border-white/10
  outline-none
  focus:ring-2 focus:ring-blue-500;
}